{{ define "main" }}
<main>
  <div>
    {{ if .Site.Params.Portrait.Path }}
      <img src="{{ .Site.Params.Portrait.Path }}"
           class="circle"
           alt="{{ .Site.Params.Portrait.Alt }}"
           {{ with .Site.Params.Portrait.MaxWidth }}
             style="max-width:{{ . }}"
           {{ end }} />
    {{ end }}

    <div class="hero-text">
      <h1>Hello, you.</h1>
      <h2>I am grayape, welcome to my digital subconscious.</h2>
    </div>

    <div class="main-content">
      {{ .Content }}
    </div>

    {{ with .Site.Params.social }}
      <div class="social-icons">
        {{ partial "social-icons.html" . }}
      </div>
    {{ end }}

  </div>
</main>
{{ end }}
